$font-family-primary: 'IBM Plex Sans';
$color-primary: #1F3E68;
$color-black: rgba(0,0,0,0.8);
$color-black-light: rgba(0,0,0,0.6);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
}